{% extends "base.html"%}

{% block nav %}
    {% include "standard_header.html" %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="card-columns">
      <div class="card">
        <img src="{{ person.picture.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ person.position }}<br>{{ person.name }}</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">
            {{ person.bio }}
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact Details</h5>
          <p class="card-text">
            {% if person.phone %}<b>Phone: </b><a href="tel:{{ person.phone }}">{{ person.phone }}</a>{% endif %}
            <br>
            {% if person.email %}<b>Email: </b><a href="mailto:{{ person.email }}">{{ person.email }}</a>{% endif %}
          </p>
          {% if person.facebook %}<a href="#"><span class="fab fa-facebook-square" style="font-size: 2em"></span></a> {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
