{% extends "base.html"%}

{% load static %}

{% block nav %}
    {% include "standard_header.html" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row margin10">
          <div class="col-lg-4">
            <div class="card mb-2">
                <div class="card-body">
                <h5 class="card-tite">Tiger Trophy</h5>
                <canvas id="myChart" width="400" height="400"></canvas>
                  <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'point_details' %}">Points Breakdown</a>
            </div>
            </div>

          <div class="card mb-2">
              <div class="card-body">
                  <h5 class="card-title">Weekly Events</h5>
                  <table class="table">
                   <tbody>
                    <tr>
                      <td><b>Futsal</b><br>Tuesday 6:30pm</td>
                    </tr>
                    <tr>
                      <td><b>Gardening</b><br>Saturday 11:00am</td>
                    </tr>
                    <tr>
                      <td><b>Mingle and Munch</b><br>Sunday 8:30pm</td>
                    </tr>
                  </tbody>
                  </table>
              </div>
          </div>
        </div>

            <div class="col-lg-4">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Groups</h5>
              <p class="card-text">The links below will take you to Messenger groups at the hall for those with certain interests or areas of study.
                Even if you only have a small interest in a certain topic, please join the group and get involved!
                Academic groups will be restricted to those in that area of study, please utilise them to help each other learn, organise groups studies, etc.
                You can also find links to Turner Hall's social media, in case you haven't joined us yet.<p>
              <div class="card" style="max-height: 400px;overflow-y: auto">
                <div id="accordion">
                    <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <span class="fas fa-home"></span> Hall
                      </button>
                    </h5>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="#">Tiger Town Facebook</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">The Jungle Facebook</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">1 East</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">1 West</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">2 East</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">2 West</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">3 East</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">3 West</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">4 East</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">4 West</a></li>
                      </ul>
                    </div>
                  </div>
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <span class="fas fa-heart"></span> Interest
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="#">Sport</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Music</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Art</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Video Games</a></li>
                      </ul>
                    </div>
                  </div>
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="fas fa-landmark"></span> Academic
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item"><a target="_blank" href="#">Arts, humanities and social sciences</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Business</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Education</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Engineering</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Information technology</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Law</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Music, art, design and architecture</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Medicine</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Nursing and health sciences</a></li>
                        <li class="list-group-item"><a target="_blank" href="#">Science</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <p class="card-text">Missed an interest or study area? Let us know in the feedback form!</p>
            </div>
          </div>
              </div>
          <div class="col-lg-4">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Images</h5>
              <p class="card-text">Remember you time at Turner Hall! The link below will bring you to a shared Google Drive which contains a bunch on images from different events throughout the year.<p>
              <a target="_blank" href="https://drive.google.com/open?id=1i92IYdT2n7L3G-cRitbqipZN9hUKPe3t" class="btn btn-primary">Image Drive</a>
            </div>
          </div>


          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Calendar</h5>
              <p class="card-text">Get on top of the goings-on at the Hall with the Turner Hall calendar! The link below will take you to a Google Calendar containing all upcoming events.<p>
              <a target="_blank" href="#" class="btn btn-primary">Google Calendar</a>
            </div>
          </div>



          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Cooking</h5>
              <p class="card-text">Cooking for yourself can be hard, so let us help you! The link below goes to a Google Drive containing recipes and cooking advice for you to use.<p>
              <a target="_blank" href="https://drive.google.com/open?id=12hJkNo1JxtOuflgEgmmaY_YATc7gT_ts" class="btn btn-primary">Cooking Drive</a>
            </div>
          </div>

        </div>
            </div>
    </div>
{% endblock %}
{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" integrity="sha256-MZo5XY1Ah7Z2Aui4/alkfeiq3CopMdV/bbkc/Sh41+s=" crossorigin="anonymous"></script>
  <script src="{% static 'js/community.js' %}"></script>
{% endblock %}