{% extends "base.html"%}
{% load static %}

{% block nav %}
    {% include "standard_header.html" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="accordion">
            <div class="card" style="margin-top: 15px">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h5><span class="fas fa-shield-alt"></span>&emsp;Safety</h5>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Monash Emergency</h5>
                      </div>
                      <div class="card-body">
                          <p class="card-text">If you have concerns for the safety of yourself or others while on campus.<br><br><b>Phone: </b><a href="tel:+61399053333">+61 3 9905 3333</a><br><b>Room Phone: </b>333</p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Monash Security General</h5>
                      </div>
                      <div class="card-body">
                          <p class="card-text">To report an incident or if you see something suspicious on campus.<br><br><b>Phone: </b><a href="tel:+61399027777">+61 3 9902 7777</a><br><b>Room Phone: </b>27777</p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Safer Community Unit</h5>
                      </div>
                      <div class="card-body">
                          <p class="card-text">Helps to find the right support if you are facing a difficult situation.<br><br><b>Phone: </b><a href="tel:+61399051599">+61 3 9905 1599</a><br><b>Email: </b><a href="mailto:safercommunity@monash.edu">safercommunity@monash.edu</a><br></p>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Emergency Services</h5>
                      </div>
                      <div class="card-body">
                        <p class="card-text">If you require police, ambulance or fire services in an emergency.<br><br><b>Phone: </b><a href="tel:000">000</a></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h5><span class="fas fa-medkit"></span>&emsp;Health and Wellbeing</h5>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">Help in Your Hall</h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">
                            Please remember that your RAs and the RSTO are here to give you help and support for any difficulty you may be facing. They will also be able to link you up with support services that may help you.
                            <br>Contacts for RAs and the RSTO can be found under RST on this page.
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">On Campus Counselling</h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">
                            Counselling is an invaulable service which can help you overcome difficulties, whether they be large or small. Monash offers on campus counselling sevices which can be accessed by appointment in addition to a 24 hour phone counselling service.
                              <br><br><b>Phone for Appointment: </b><a href="tel:+61399053020">+61 3 9905 3020</a>
                              <br><b>24/7 Phone Counselling: </b><a href="tel:1300788336">1300 STUDENT (1300 788 336)</a><br>
                            <br><br><b><a class="btn btn-primary" target="_blank" href="https://www.monash.edu/health/counselling">More information and resources</a></b>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">Mental Health Programs at Monash</h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">
                            Monash offers a variety of free mental health programs which can teach you skills including stress management, study skills, suicide prevention and Mental Health First Aid. Such programs may enable you to improve your self care or help others who may be struggling in your community.
                            <br><br><b><a class="btn btn-primary" target="_blank" href="https://www.monash.edu/health/mental-health/programs">More information</a></b>
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title">Mindfulness</h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">
                            Mindfulness is a series of cognitive excercises which may help improve your mental state. Monash offers a range of mindfulness programs which may assist in managing stress, improving your academic performance, strengthening your relationship with others, and boosting self-esteem.
                            <br><br><b><a class="btn btn-primary" target="_blank" href="https://www.monash.edu/health/mental-health/mindfulness">More information</a></b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <h5><span class="fas fa-pencil-alt"></span>&emsp;Forms</h5>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item"><a target="_blank" href="https://www.monash.edu/accommodation/current-residents/forms/overnight-guest-form"><span class="fas fa-bed"></span>&emsp;Overnight Guest</a></li>
                          <li class="list-group-item"><a target="_blank" href="https://docs.google.com/a/monash.edu/forms/d/12nDUiyDEqXZs3cM39vIbX0gXfnue0JVLVCajyVIjqe8/viewform?fbclid=IwAR1VAHU9VaUqXVfTbL_wXPIfRQiuYNIfyMUnE1psHLnVFuect_BnpxZBfVw"><span class="fas fa-running"></span>&emsp;Absence</a></li>
                          <li class="list-group-item"><a target="_blank" href="https://www.monash.edu/accommodation/current-residents/maintenance-it-and-cleaning"><span class="fas fa-wrench"></span>&emsp;Maintenance, IT and Cleaning</a></li>
                          <li class="list-group-item"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdHIDgllMD9VEpd4To8Y48E_X8zUqydypWdfv25-7db-QwVmQ/viewform?usp=sf_link"><span class="fas fa-comment"></span>&emsp;Suggestions for the Hall</a></li>
                          <li class="list-group-item"><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfUJiBD15jb0Zh8XYRgKM5u46qEN-KdF4Oh7jqdSh5XwhExrg/viewform?usp=sf_link"><span class="fas fa-bug"></span>&emsp;Website Issues and Suggestions</a></li>
                        </ul>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <h5><span class="far fa-question-circle"></span>&emsp;How-To</h5>
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group">
                          <li class="list-group-item"><a target="_blank" href="{% static 'manuals/Final-Handbook-2018.pdf'%}">Monash Residential Handbook&emsp;<span class="fas fa-external-link-alt"></span></a></li>
                          <li class="list-group-item"><a target="_blank" href="{% static 'manuals/Cooktop_Manual_TH.pdf' %}">Cooktop Manual&emsp;<span class="fas fa-external-link-alt"></span></a></li>
                          <li class="list-group-item"><p><a target="_blank" href="{% static 'manuals/Fridge_Manual_TH.pdf' %}">Fridge Manual&emsp;<span class="fas fa-external-link-alt"></span></a></p></li>
                          <li class="list-group-item"><p><a target="_blank" href="{% static 'manuals/Microwave_Manual_TH.pdf' %}">Microwave Manual&emsp;<span class="fas fa-external-link-alt"></span></a></p></li>
                          <li class="list-group-item"><p><a target="_blank" href="{% static 'manuals/Range_Hood_Manual_TH.pdf' %}">Range Hood Manual&emsp;<span class="fas fa-external-link-alt"></span></a></p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <h5><span class="fas fa-address-book"></span>&emsp;RST</h5>
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">
                          <h2>Residential Support Team Officers</h2>
                          <div class="row">
                              {% if CH %}
                              <div class="col-md-4" style="padding-bottom: 30px;">
                                    <div class="card">
                                            <div class="padding10">
                                            <img src="{{ CH.picture.url }}" class="card-img-top scale-img" alt="{{ CH.name }} image">
                                        </div>
                                        <div class="card-body background">
                                            <h5 class="card-title" href="{% url 'bio' CH.pk%}">{{ CH.name }}</h5>
                                            <p class="card-text">{{ CH.wing }}</p>
                                            <a href="{% url 'bio' CH.pk%}" class="btn btn-outline-dark btn-lg btn-block">CH information</a>
                                        </div>
                                    </div>
                                </div>
                              {% endif %}
                              {% if DCH %}
                              <div class="col-md-4" style="padding-bottom: 30px;">
                                    <div class="card">
                                            <div class="padding10">
                                            <img src="{{ DCH.picture.url }}" class="card-img-top scale-img" alt="{{ DCH.name }} image">
                                        </div>
                                        <div class="card-body background">
                                            <h5 class="card-title" href="{% url 'bio' DCH.pk%}">{{ DCH.name }}</h5>
                                            <p class="card-text">{{ DCH.wing }}</p>
                                            <a href="{% url 'bio' DCH.pk%}" class="btn btn-outline-dark btn-lg btn-block">DCH information</a>
                                        </div>
                                    </div>
                                </div>
                              {% endif %}
                              {% if RSA %}
                              <div class="col-md-4" style="padding-bottom: 30px;">
                                    <div class="card">
                                            <div class="padding10">
                                            <img src="{{ RSA.picture.url }}" class="card-img-top scale-img" alt="{{ RSA.name }} image">
                                        </div>
                                        <div class="card-body background">
                                            <h5 class="card-title" href="{% url 'bio' RSA.pk%}">{{ RSA.name }}</h5>
                                            <p class="card-text">{{ RSA.wing }}</p>
                                            <a href="{% url 'bio' RSA.pk%}" class="btn btn-outline-dark btn-lg btn-block">RSA information</a>
                                        </div>
                                    </div>
                                </div>
                              {% endif %}
                          </div>
                          <br>
                          <h2>Residential Advisors</h2>
                          {% for RA in rst %}
                            {% if forloop.first %}<div class="row">{% endif %}
                                <div class="col-md-4" style="padding-bottom: 30px;">
                                    <div class="card">
                                            <div class="padding10">
                                            <img src="{{ RA.picture.url }}" class="card-img-top scale-img" alt="{{ RA.name }} image">
                                        </div>
                                        <div class="card-body background">
                                            <h5 class="card-title" href="{% url 'bio' RA.pk%}">{{ RA.name }}</h5>
                                            <p class="card-text">{{ RA.wing }}</p>
                                            <a href="{% url 'bio' RA.pk%}" class="btn btn-outline-dark btn-lg btn-block">RA information</a>
                                        </div>
                                    </div>
                                </div>
                        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
                        {% if forloop.last %}</div>{% endif %}
                        {% endfor %}
                    </div>
                  </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
