<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      
  </head>
  <body style="margin:5px;padding:5px">
    <div id="accordion" m="100px">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5>Safety</h5>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Monash Emergency</h5>
              </div>
              <div class="card-body">
                <p class="card-text">If you have concerns for the safety of yourself or others while on campus.<br><br><b>Phone: </b>+61 3 9905 3333<br><b>Room Phone: </b>333</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Monash Security General</h5>
              </div>
              <div class="card-body">
                <p class="card-text">To report an incident or if you see something suspicious on campus.<br><br><b>Phone: </b>+61 3 9902 7777<br><b>Room Phone: </b>27777</p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Safer Community Unit</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Helps to find the right support if you are facing a difficult situation.<br><br><b>Phone: </b>+61 3 9905 1599<br><b>Email: </b>safercommunity@monash.edu<br></p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Emergency Services</h5>
              </div>
              <div class="card-body">
                <p class="card-text">If you require police, ambulance or fire services in an emergency.<br><br><b>Phone: </b>000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5>Health and Wellbeing</h5>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Help in Your Hall</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Please remember that your RAs and the RSTO are here to give you help and support for any difficulty you may be facing. They will also be able to link you up with support services that may help you.                
                    <br>Contacts for RAs and the RSTO can be found under RST on this page.
                  </p>                
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">On Campus Counselling</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Counselling is an invaulable service which can help you overcome difficulties, whether they be large or small. Monash offers on campus counselling sevices which can be accessed by appointment in addition to a 24 hour phone counselling service.
                    <br><br><b>Phone for Appointment: </b>+61 3 9905 3020
                    <br><b>24/7 Phone Counselling: </b>1300 STUDENT (1300 788 336)<br>
                    <br><br><b><a target="_blank" href="https://www.monash.edu/health/counselling">More information and resources</a></b>
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Mental Health Programs at Monash</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Monash offers a variety of free mental health programs which can teach you skills including stress management, study skills, suicide prevention and Mental Health First Aid. Such programs may enable you to improve your self care or help others who may be struggling in your community.
                    <br><br><b><a target="_blank" href="https://www.monash.edu/health/mental-health/programs">More information</a></b>
                  </p>                
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Mindfulness</h5>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Mindfulness is a series of cognitive excercises which may help improve your mental state. Monash offers a range of mindfulness programs which may assist in managing stress, improving your academic performance, strengthening your relationship with others, and boosting self-esteem.
                    <br><br><b><a target="_blank" href="https://www.monash.edu/health/mental-health/mindfulness">More information</a></b>
                  </p>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <h5>Forms</h5>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="https://www.monash.edu/accommodation/current-residents/forms/overnight-guest-form">Overnight Guest</a>
                </h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="https://docs.google.com/a/monash.edu/forms/d/12nDUiyDEqXZs3cM39vIbX0gXfnue0JVLVCajyVIjqe8/viewform?fbclid=IwAR1VAHU9VaUqXVfTbL_wXPIfRQiuYNIfyMUnE1psHLnVFuect_BnpxZBfVw">Absence Form</a></h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="https://www.monash.edu/accommodation/current-residents/maintenance-it-and-cleaning">Maintenance, IT and Cleaning</a></h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="https://www.google.com">Suggestions for the Hall</a></h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="https://www.google.com">Website Issues and Bugs</a></h5>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <h5>How-To</h5>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="../Manuals/Cooktop%20Manual%20TH.pdf">Cooktop Manual</a></h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="../Manuals/Fridge%20Manual%20TH.pdf">Fridge Manual</a></h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="../Manuals/Microwave%20Manual%20TH.pdf">Microwave Manual</a></h5>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><a target="_blank" href="../Manuals/Range%20Hood%20Manual%20TH.pdf">Range Hood Manual</a></h5>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <h5>RST</h5>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
          </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>