{% extends "base.html"%}

{% block nav %}
    {% include "standard_header.html" %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center">{{ event.name}}</h1>
        <div class="row">
            <div class="col-md-5 mb-4" >
                {% if event.group_running == 'HS' %}
                    <div class="hall-society padding10">
                {% elif event.group_running == 'RST' %}
                    <div class="rst padding10">
                {% elif event.group_running == 'MRS' %}
                    <div class="mrs padding10">
                {% elif event.group_running == 'MSPT' %}
                    <div class="monash-sport padding10">
                {% elif event.group_running == 'STO' %}
                    <div class="rst-only padding10">
                {% endif %}
                    <img src="{{ event.poster.url }}" class="scale-img" alt="{{ event.name }} poster">
                </div>

            </div>
            <div class="col-md-7">
                <table class="table table-bordered table-object-details">
                    <tr>
                        <th>Start time and date</th>
                        <td>
                            {% if event.start_time_and_date %}
                                {{ event.start_time_and_date }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>End time and date</th>
                        <td>
                            {% if event.end_time_and_date %}
                                {{ event.end_time_and_date }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>
                            {% if event.location %}
                                {{ event.location }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    {% if event.food_provided or event.points_available %}
                        <tr>
                            <th>Perks</th>
                            <td>
                                {% if event.food_provided %}
                                    <span class="fas fa-utensils" style="color: black"></span>
                                {% else %}
                                    <span class="fas fa-utensils" style="color:#c5c3c3"></span>
                                {% endif %}
                                &nbsp;
                                {% if event.points_available %}
                                    <span class="fas fa-trophy" style="color: black"></span>
                                {% else %}
                                    <span class="fas fa-trophy" style="color:#E4E5E5"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Event run by</th>
                        <td>
                            {% if event.group_running == 'HS' %}
                                Hall Society
                            {% elif event.group_running == 'RST' %}
                                Turner Hall
                            {% elif event.group_running == 'MRS' %}
                                MRS
                            {% elif event.group_running == 'MSPT' %}
                                Monash Sport
                            {% elif event.group_running == 'STO' %}
                                RSTO ONLY EVENT
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-md-12 background margin10" style="flex:auto; padding:10px; border: 2px; border-color: #000000">
                        <h2 class="no-margin">Event Information:</h2>
                        <p>{{ event.information }}</p>
                    </div>
                    <div class="row padding10" style="width: 100%;">
                        <div class="col-3">
                            <a href="{% url 'events_index' %}" class="btn btn-outline-dark">Back to events</a>
                        </div>
                        <div class="col-4 offset-5">
                            <a href="{{link}}" class="btn btn-outline-dark"><span class="fa fa-calendar" aria-hidden="true"></span> Add to google calendar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}